 body {
    margin: 45px;
    font-family: sans-serif;
    font-size: 125%;
    background-color: lightgoldenrodyellow;
    
 }

 h2 {
   text-align: center;
   color: black;
   background-color:tan;
 
   
 }
 